@model StudentManagementSystem.Models.ReportViewModel

@{
    ViewBag.Title = "Home Page";
}

<table class="table" id="currentyeartable">
    <tr><td align="center"><label>Count of Student Added Recently</label></td></tr>
    <tr>
        <td><label>Last Student Added</label></td>
        @{
            if (Model.LastAddedStudent != null)
            {
                <td>
                    @Model.LastAddedStudent.StudentName
                </td>
            }
            else
            {
                <td> No Record Found!</td>
            }
        }
    </tr>
    <tr>
        <td><label>Student Added Last Month</label></td>
        @{
            if (Model.LastMonthAddedStudent != null)
            {
                <td>
                    @Model.LastMonthAddedStudent.StudentName;
                </td>
            }
            else
            {
                <td> No Record Found!</td>
            }
        }
    </tr>
</table>
<table class="table" id="lastyeartable" style="display:none">
    @{int year = @DateTime.Now.Year - 1; }
    <tr><td align="center"><label>Count of Student Added Last Year - @year</label></td></tr>
    <tr><td><label>January</label></td><td><label>@Model.count1</label></td></tr>
    <tr><td><label>February</label></td><td><label>@Model.count2</label></td></tr>
    <tr><td><label>March</label></td><td><label>@Model.count3</label></td></tr>
    <tr><td><label>April</label></td><td><label>@Model.count4</label></td></tr>
    <tr><td><label>May</label></td><td><label>@Model.count5</label></td></tr>
    <tr><td><label>June</label></td><td><label>@Model.count6</label></td></tr>
    <tr><td><label>July</label></td><td><label>@Model.count7</label></td></tr>
    <tr><td><label>August</label></td><td><label>@Model.count8</label></td></tr>
    <tr><td><label>September</label></td><td><label>@Model.count9</label></td></tr>
    <tr><td><label>October</label></td><td><label>@Model.count10</label></td></tr>
    <tr><td><label>November</label></td><td><label>@Model.count11</label></td></tr>
    <tr><td><label>December</label></td><td><label>@Model.count12</label></td></tr>
</table>

<div class="form-group">
    <div class="col-2">
        <input type="button" value="Current Year" id="currentyearbutton" class="btn btn-default">
        <input type="button" value="Last Year" id="lastyearbutton" class="btn btn-default">
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#currentyearbutton").click(function () {
            $("#currentyeartable").show();
            $("#lastyeartable").hide();
        });
        $("#lastyearbutton").click(function () {
            $("#lastyeartable").show();
            $("#currentyeartable").hide();
        });
    });
</script>

