@model IEnumerable<StudentManagementSystem.Models.Subject>

@{
    ViewBag.Title = "Subjects";
}

<h2>Subjects</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SubjectName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Credit)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SubjectName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Credit)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SubjectId }) |
            @Html.ActionLink("Details", "Details", new { id=item.SubjectId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SubjectId })
        </td>
    </tr>
}

</table>
